@font-face {
  src: url('fonts/CursedTimerUlil-Aznm.ttf') format('truetype'); /* Path to the font file */
  font-family: 'CursedFont';
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
    
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: #EEEEEE;
    text-align: center;
}

#home-score, #guest-score {
    color: #F94F6D;
    font-family: 'CursedFont';
    font-size: 60px;
    text-align: center;
}

.box-score {
    background-color: #080001;
    width: 155px; 
    height: 120px; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.btn-section {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

button {
    font-family: 'CursedFont';
    color: #9AABD8;
    border: 2px solid #9AABD8;
    background-color: #1B244A;
    padding: 10px;
    border-radius: 10px;
}